@font-face {
    font-family: "Material Design Icons";
    src:  url("./../assets/fonts/materialdesignicons-webfont.woff");
}
@font-face {
    font-family: "BoxIcons";
    src:  url("./../assets/fonts/boxicons.woff");
}
.map-container {
    width: 100%; /* Kích thước chiều rộng tối ưu cho container */
    height: 600px; /* Đặt kích thước chiều cao theo mong muốn */
  }