@font-face {
    font-family: "Material Design Icons";
    src:  url("./../assets/fonts/materialdesignicons-webfont.woff");
}
@font-face {
    font-family: "BoxIcons";
    src:  url("./../assets/fonts/boxicons.woff");
}