<connectionStrings>
	<add name="DataContext"
         connectionString="Data Source=rangdong\dongchau;Initial Catalog=EattingNowApp;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  <!--<add name="DataContext"
         connectionString="Data Source=SERVER-DELL;Initial Catalog=DaiPhucVinh_FSW;User=devdpv;Password=devdpv"
         providerName="System.Data.SqlClient" />-->
	<!--<add name="DataContext"
         connectionString="Data Source=rangdong\dongchau ;Initial Catalog=EattingNowApp;User ID=dong;Password=dong0903"
         providerName="System.Data.SqlClient" />-->
</connectionStrings>
