<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EattingNow</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/my-logo.png" />
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    @RenderSection("css", false)
    <link rel="stylesheet" href="/assets/css/styles.css" />

</head>
<body data-layout="vertical" data-sidebar="dark">
    @RenderBody()
    <div id="app"></div>
    <script src="/assets/js/app.bundle.js?v=1.0.5"></script>
    @RenderSection("scripts", false)
</body>
</html>