<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Login</title>
    <!--favicon-->
    <link rel="icon" href="~/Content/images/favicon.ico" type="image/png" />
    <!-- loader-->
    <link href="~/Content/css/pace.min.css" rel="stylesheet" />
    <script src="~/Content/js/pace.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/kendo/2019.3.1023/kendo.common.min.css">
    <link rel="stylesheet" href="~/Content/kendo/2019.3.1023/kendo.default.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <!-- Icons CSS -->
    <link rel="stylesheet" href="~/Content/css/icons.css" />
    <!-- App CSS -->
    <link rel="stylesheet" href="~/Content/css/app.css" />

    <script src="~/Scripts/kendo/2019.3.1023/kendo.web.min.js"></script>
    <script src="~/Scripts/kendo/2019.3.1023/cultures/kendo.culture.vi-VN.min.js"></script>
</head>
<body class="bg-login">
    <!-- wrapper -->
    <div class="wrapper">
        @RenderBody()
    </div>
</body>
</html>