{
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],
  "plugins": ["react", "react-native", "jsx-a11y", "import", "react-hooks", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "env": {
    "react-native/react-native": true,
    "browser": true,
    "es2021": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "prettier/prettier": [
        "error",
        {
          "endOfLine": "auto",
          "singleQuote": false, 
          "parser": "flow"
        }
    ],
    "no-unused-vars": ["warn"],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/prop-types": 0,
    "eol-last": [
      "error",
      "always"
    ],
    "linebreak-style": 0,
    "semi": [
      "error",
      "always"
    ],
    "quotes": [
      2,
      "double"
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ios.js", ".android.js"]
      }
    },
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  }
}